.ui.inverted.segment{
	background: #1b1c1d;
	color: rgba(255,255,255,.9);
	width: 100%;
}

.content.active{
	font-size: 1.1rem;
	line-height: 3.4vh;
}

.ui.accordion .title:not(.ui) {
	font-size: 1.6rem;
}
